<article class="userslist jumbotron d-none d-sm-block">
  <div class="container">
    <div class="row">
      <% all_users.forEach(function(user) {%>
      <div class="col-md text-center">
        <h4 class="userslist-title"><%=user.title%></h4>
        <div class="userslist-name">
          of
          <a href="/users/<%=user.title%>"><%=user.name%></a>
        </div>
        <div class="userslist-info mt-2">
          <a href="/users/<%=user.title%>">
            <img
              class="userslist-img rounded-circle"
              src="/images/titles/<%=user.title%>_tn.jpg"
              alt="Photo of <%=user.title%>"
            />
          </a>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</article>
